## Initial data transformation

The script is for merging the initial data frames into one data frame.

1. [Load the data](#load-the-data)
2. [Merge the data](#merge-data-frames-and-save)
3. [Check the transformed data](#check-the-transformed-data)

## Load the data

In [8]:
import pandas as pd

ds_fn = "../data/Task_Data_Scientist_Dataset.xlsx"
df    = pd.ExcelFile(ds_fn)

### 1. Social-demographics data (age, gender, tenure in a bank)

In [9]:
socio_dem_df = df.parse(df.sheet_names[1])
socio_dem_df.keys

<bound method NDFrame.keys of       Client Sex  Age  Tenure
0        909   M   21      27
1       1217   M   38     165
2        850   F   49      44
3       1473   M   54      34
4       1038   M   29     106
...      ...  ..  ...     ...
1610     409   M   31      91
1611     384   M   23     160
1612     977   M   46      59
1613     629   F   61     173
1614    1466   M   63      97

[1615 rows x 4 columns]>

In [10]:
## Re-indexing

socio_dem_df.index = socio_dem_df.Client
socio_dem_df = socio_dem_df.drop("Client",axis=1).sort_index()

socio_dem_df.keys

<bound method NDFrame.keys of        Sex  Age  Tenure
Client
1        F   51       7
2        M   43     152
3        M   17     140
4        M   24     153
5        F   58     200
...     ..  ...     ...
1611     F   41     181
1612     M   63     114
1613     M   46      45
1614     M   48      65
1615     M    7     180

[1615 rows x 3 columns]>

In [11]:
## Change 'Sex' from categorical to numerical(F = 0, M = 1)

socio_dem_df["Sex"] = pd.Categorical(socio_dem_df["Sex"]).codes 

socio_dem_df["Sex"].describe

<bound method NDFrame.describe of Client
1       0
2       1
3       1
4       1
5       0
       ..
1611    0
1612    1
1613    1
1614    1
1615    1
Name: Sex, Length: 1615, dtype: int8>

### 2.  Products owned + actual volumes (current account, saving account, mutual funds, overdraft, credit card, consumer loan)

In [12]:
product_df = df.parse(df.sheet_names[2])

## re-indexing
product_df.index = product_df.Client 
product_df = product_df.drop("Client",axis = 1).sort_index()

## Check the data
product_df.keys

<bound method NDFrame.keys of         Count_CA  Count_SA  Count_MF  Count_OVD  Count_CC  Count_CL  \
Client
1              1       NaN       NaN        1.0       NaN       NaN
2              1       1.0       NaN        NaN       NaN       NaN
3              1       NaN       1.0        NaN       NaN       NaN
4              1       1.0       NaN        NaN       1.0       NaN
5              1       1.0       NaN        NaN       NaN       NaN
...          ...       ...       ...        ...       ...       ...
1611           1       NaN       NaN        1.0       NaN       NaN
1612           1       NaN       NaN        1.0       NaN       1.0
1613           1       NaN       NaN        NaN       NaN       NaN
1614           1       NaN       NaN        NaN       NaN       NaN
1615           2       1.0       NaN        1.0       NaN       NaN

          ActBal_CA     ActBal_SA   ActBal_MF  ActBal_OVD    ActBal_CC  \
Client
1       1333.802857           NaN         NaN         0.0          NaN
2        110.768571  13326.190357         NaN         NaN          NaN
3        482.654643           NaN  107.251786         NaN          NaN
4       1599.840714     76.437143         NaN         NaN  1110.381786
5       5353.483929   8079.715714         NaN         NaN          NaN
...             ...           ...         ...         ...          ...
1611       0.000000           NaN         NaN         0.0          NaN
1612     170.593214           NaN         NaN         0.0          NaN
1613     676.008571           NaN         NaN         NaN          NaN
1614       0.010357           NaN         NaN         NaN          NaN
1615     118.938929    314.047143         NaN         0.0          NaN

        ActBal_CL
Client
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
...           ...
1611          NaN
1612       6250.0
1613          NaN
1614          NaN
1615          NaN

[1615 rows x 12 columns]>

### 3.  Inflow/outflow on C/A, aggregated card turnover (monthly average over past 3 months)

In [13]:
in_outflow_df = df.parse(df.sheet_names[3])

## Re-indexing
in_outflow_df.index = in_outflow_df.Client 
in_outflow_df = in_outflow_df.drop("Client",axis = 1).sort_index()

## Check the data
in_outflow_df.keys

<bound method NDFrame.keys of          VolumeCred  VolumeCred_CA  TransactionsCred  TransactionsCred_CA  \
Client
1       1678.946429    1318.698214                25                   23
2        708.129643     704.935714                 4                    3
3       1607.149643    1607.149643                 4                    4
4       1872.483571    1822.589643                 9                    4
5       4372.773929    2964.290357                23                   14
...             ...            ...               ...                  ...
1611    1029.918571    1029.918571                 3                    3
1612    1310.370714     909.275714                 8                    4
1613    1370.362500    1370.362500                 4                    4
1614     591.216429     591.216429                 3                    3
1615    1497.350000    1497.333214                 5                    4

          VolumeDeb  VolumeDeb_CA  VolumeDebCash_Card  VolumeDebCashless_Card  \
Client
1       1891.353214   1335.619643          250.000000              283.089286
2        386.442857    386.442857          307.142857               38.407143
3        123.750000    123.750000            0.000000              112.857143
4       3614.747500   3598.950357          714.285714              526.037500
5       5868.460714   4031.925000          157.142857              832.175000
...             ...           ...                 ...                     ...
1611    1104.685714   1104.685714          178.571429               32.142857
1612     955.140000    751.829643          285.714286                0.000000
1613    1283.518929   1283.518929          142.857143              144.022500
1614     527.925714    527.925714          125.000000              167.497143
1615    1877.456071   1877.456071          178.571429                3.884643

        VolumeDeb_PaymentOrder  TransactionsDeb  TransactionsDeb_CA  \
Client
1                   247.607143               50                  30
2                    35.714286                6                   6
3                    10.678571                3                   3
4                  1963.165357               41                  36
5                  1779.571429               44                  41
...                        ...              ...                 ...
1611                890.578571               11                  11
1612                 14.285714               12                   9
1613                353.000000               25                  25
1614                194.178571               15                  15
1615               1694.785714               16                  16

        TransactionsDebCash_Card  TransactionsDebCashless_Card  \
Client
1                              3                            12
2                              2                             2
3                              0                             1
4                              6                            12
5                              4                            17
...                          ...                           ...
1611                           1                             3
1612                           2                             0
1613                           2                            12
1614                           1                             8
1615                           1                             1

        TransactionsDeb_PaymentOrder
Client
1                                  9
2                                  1
3                                  1
4                                 13
5                                 13
...                              ...
1611                               6
1612                               2
1613                               8
1614                               3
1615                              13

[1587 rows x 14 columns]>

### 4.  Sales and Revenues

For 60 % of clients actual sales + revenues from these are available (training set)

In [14]:
sales_revenue_df = df.parse(df.sheet_names[4])

## Re-indexing
sales_revenue_df.index = sales_revenue_df.Client 
sales_revenue_df = sales_revenue_df.drop("Client",axis = 1).sort_index()

## Check the data
sales_revenue_df.keys

<bound method NDFrame.keys of         Sale_MF  Sale_CC  Sale_CL  Revenue_MF  Revenue_CC  Revenue_CL
Client
1             1        0        0   26.972679         0.0         0.0
2             0        0        0    0.000000         0.0         0.0
6             0        0        0    0.000000         0.0         0.0
8             0        0        0    0.000000         0.0         0.0
13            0        0        0    0.000000         0.0         0.0
...         ...      ...      ...         ...         ...         ...
1607          0        0        0    0.000000         0.0         0.0
1608          0        0        0    0.000000         0.0         0.0
1612          0        0        0    0.000000         0.0         0.0
1613          1        0        0    2.088571         0.0         0.0
1615          0        0        0    0.000000         0.0         0.0

[969 rows x 6 columns]>

## Merge data frames and save

In [15]:
dmo_df = pd.concat([socio_dem_df, product_df, in_outflow_df, sales_revenue_df], axis = 1) # conc along columns
dmo_df.keys

<bound method NDFrame.keys of         Sex  Age  Tenure  Count_CA  Count_SA  Count_MF  Count_OVD  Count_CC  \
Client
1         0   51       7         1       NaN       NaN        1.0       NaN
2         1   43     152         1       1.0       NaN        NaN       NaN
3         1   17     140         1       NaN       1.0        NaN       NaN
4         1   24     153         1       1.0       NaN        NaN       1.0
5         0   58     200         1       1.0       NaN        NaN       NaN
...     ...  ...     ...       ...       ...       ...        ...       ...
1611      0   41     181         1       NaN       NaN        1.0       NaN
1612      1   63     114         1       NaN       NaN        1.0       NaN
1613      1   46      45         1       NaN       NaN        NaN       NaN
1614      1   48      65         1       NaN       NaN        NaN       NaN
1615      1    7     180         2       1.0       NaN        1.0       NaN

        Count_CL    ActBal_CA  ...  TransactionsDeb_CA  \
Client                         ...
1            NaN  1333.802857  ...                30.0
2            NaN   110.768571  ...                 6.0
3            NaN   482.654643  ...                 3.0
4            NaN  1599.840714  ...                36.0
5            NaN  5353.483929  ...                41.0
...          ...          ...  ...                 ...
1611         NaN     0.000000  ...                11.0
1612         1.0   170.593214  ...                 9.0
1613         NaN   676.008571  ...                25.0
1614         NaN     0.010357  ...                15.0
1615         NaN   118.938929  ...                16.0

        TransactionsDebCash_Card  TransactionsDebCashless_Card  \
Client
1                            3.0                          12.0
2                            2.0                           2.0
3                            0.0                           1.0
4                            6.0                          12.0
5                            4.0                          17.0
...                          ...                           ...
1611                         1.0                           3.0
1612                         2.0                           0.0
1613                         2.0                          12.0
1614                         1.0                           8.0
1615                         1.0                           1.0

        TransactionsDeb_PaymentOrder  Sale_MF  Sale_CC  Sale_CL  Revenue_MF  \
Client
1                                9.0      1.0      0.0      0.0   26.972679
2                                1.0      0.0      0.0      0.0    0.000000
3                                1.0      NaN      NaN      NaN         NaN
4                               13.0      NaN      NaN      NaN         NaN
5                               13.0      NaN      NaN      NaN         NaN
...                              ...      ...      ...      ...         ...
1611                             6.0      NaN      NaN      NaN         NaN
1612                             2.0      0.0      0.0      0.0    0.000000
1613                             8.0      1.0      0.0      0.0    2.088571
1614                             3.0      NaN      NaN      NaN         NaN
1615                            13.0      0.0      0.0      0.0    0.000000

        Revenue_CC  Revenue_CL
Client
1              0.0         0.0
2              0.0         0.0
3              NaN         NaN
4              NaN         NaN
5              NaN         NaN
...            ...         ...
1611           NaN         NaN
1612           0.0         0.0
1613           0.0         0.0
1614           NaN         NaN
1615           0.0         0.0

[1615 rows x 35 columns]>

In [16]:
dmo_df.to_csv("../data/dmo.csv", sep = ";")

## Check the transformed data

In [17]:
x = pd.read_csv("../data/dmo.csv", sep=";")
x.keys

<bound method NDFrame.keys of       Client  Sex  Age  Tenure  Count_CA  Count_SA  Count_MF  Count_OVD  \
0          1    0   51       7         1       NaN       NaN        1.0
1          2    1   43     152         1       1.0       NaN        NaN
2          3    1   17     140         1       NaN       1.0        NaN
3          4    1   24     153         1       1.0       NaN        NaN
4          5    0   58     200         1       1.0       NaN        NaN
...      ...  ...  ...     ...       ...       ...       ...        ...
1610    1611    0   41     181         1       NaN       NaN        1.0
1611    1612    1   63     114         1       NaN       NaN        1.0
1612    1613    1   46      45         1       NaN       NaN        NaN
1613    1614    1   48      65         1       NaN       NaN        NaN
1614    1615    1    7     180         2       1.0       NaN        1.0

      Count_CC  Count_CL  ...  TransactionsDeb_CA  TransactionsDebCash_Card  \
0          NaN       NaN  ...                30.0                       3.0
1          NaN       NaN  ...                 6.0                       2.0
2          NaN       NaN  ...                 3.0                       0.0
3          1.0       NaN  ...                36.0                       6.0
4          NaN       NaN  ...                41.0                       4.0
...        ...       ...  ...                 ...                       ...
1610       NaN       NaN  ...                11.0                       1.0
1611       NaN       1.0  ...                 9.0                       2.0
1612       NaN       NaN  ...                25.0                       2.0
1613       NaN       NaN  ...                15.0                       1.0
1614       NaN       NaN  ...                16.0                       1.0

      TransactionsDebCashless_Card  TransactionsDeb_PaymentOrder  Sale_MF  \
0                             12.0                           9.0      1.0
1                              2.0                           1.0      0.0
2                              1.0                           1.0      NaN
3                             12.0                          13.0      NaN
4                             17.0                          13.0      NaN
...                            ...                           ...      ...
1610                           3.0                           6.0      NaN
1611                           0.0                           2.0      0.0
1612                          12.0                           8.0      1.0
1613                           8.0                           3.0      NaN
1614                           1.0                          13.0      0.0

      Sale_CC  Sale_CL  Revenue_MF  Revenue_CC  Revenue_CL
0         0.0      0.0   26.972679         0.0         0.0
1         0.0      0.0    0.000000         0.0         0.0
2         NaN      NaN         NaN         NaN         NaN
3         NaN      NaN         NaN         NaN         NaN
4         NaN      NaN         NaN         NaN         NaN
...       ...      ...         ...         ...         ...
1610      NaN      NaN         NaN         NaN         NaN
1611      0.0      0.0    0.000000         0.0         0.0
1612      0.0      0.0    2.088571         0.0         0.0
1613      NaN      NaN         NaN         NaN         NaN
1614      0.0      0.0    0.000000         0.0         0.0

[1615 rows x 36 columns]>